
venv/Scripts/pythonw.exe
venv/Scripts/python.exe
venv/Scripts/deactivate.bat
venv/Scripts/Activate.ps1
venv/Scripts/activate.bat
venv/Scripts/activate
venv/pyvenv.cfg
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/image_preprocessor.iml
